<?xml version="1.0" encoding="UTF-8"?>
<plugin name="cordova-plugin-splashscreen" />
<widget xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
id="org.beatriztulino.cenourapp"
version="1.0.0">
<name>
Beatriz - Só de Cenoura
</name>
<description>
Menu do restaurante Só de Cenoura da Beatriz.
</description>
<author href="http://beatriztulino.org"
email="beatriztulino@gmail.com">
Beatriz Tulino
</author>
</widget>